@inherits LayoutComponentBase

<PageTitle>WebUi</PageTitle>
<ToastProvider />
<div class="">
    <header class="">
        <NavMenu/>
    </header>
    <main>
  

        <article >
            @Body
        </article>
    </main>
</div>