@page "/Admin/Problems/Create"
@layout AdminLayout
<div class="mb-6 flex justify-between">
    <h1 class="text-2xl font-bold">
        Tạo mới Problem
    </h1>
    <a class="btn btn-tertiary" href="/Admin/Problems">
        Quay lại
    </a>
</div>

@code {
    
}