@inherits LayoutComponentBase

<PageTitle>BlazorWebApi</PageTitle>

<div class=" flex flex-col gap-y-2">
    <div class="n">
        <Navbar />
    </div>
 
    <main>
            @Body
    </main>
</div>
